/* Normalize */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Popup And Blanket Style*/
#blanket{
    position: absolute;
    opacity: .6;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px;
    display: none;
}

#popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    z-index: 101;
    display: none;
}

#username-container, #password-container {
    display: inline-block;
    width: 100%;
}


/* Header styles */
header {
    height: 146.4px;
    background-image: url("../blog/images/bots.svg");
    background-position: center;
    background-size: auto 122px;
    position: relative;
}

header span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#new-blog-entry {
    font-weight: 900;
    color: #0000FF;
    margin-left: .5em;
}

#new-blog-entry:hover {
    color: #99CCFF;
}

.inline-block {
    display: inline-block;
}

.hidden {
    display: none;
}

header h1 {
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    display: inline-block;
}

/* Form Styles */

#form-container {
    display: none;
    margin: 1em;
    width: 40%;
}

label[for="title"], label[for="blog-entry"] {
    display: inline-block;
    width: 50px;
}

#title-input, #blog-input {
    margin-bottom: .25em;
}

#title-input input[type="text"] {
    width: 611.733px;
}

textarea {
    resize: none;
}

#button-container {
    float: right;
}

/* Display Area Style */

#displayArea {
    margin-top: 2em;
}

.blog-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    position: relative;
}

.blog-container h2 {
    font-family: "Courier New", Courier, monospace;
    margin-bottom: .5em;
}

.blog-main-entry {
    width: 70%;
    display: inline-block;
    border-left: 1px solid #808080;
    padding-left: .5em;
    text-align: justify;
}

.blog-date {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Courier New", Courier, monospace;
}
